.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: row; /* top to bottom */
    /* flex-direction: row; left to right */
    justify-content: flex-start; /* defines how the content of the element is positioned across the main axis */
    /* options: flex-start flex-end center space-around space-between space-evenly */      

}
.item1 {
    order: 1;
  }
  
  .item2 {
    order: 0;
  }
  
  .item3 {
    order: -1;
  }
.home {
    flex: 1 1 200px;
  }
  
  .logout {
    flex: 10 1 200px;
  }
/*
.home {
    margin-right: auto;
}
.logout {
    align-self: flex-start;
}
.home {
    align-self: flex-end;
}
.container > div {
    flex: 1;   flex-grow=1, flex-shrink=1, flex-basis=1 
}
*/
/*
.container > .search {
    flex: 2;
} */
 /*
.home {
    flex: 1;
}
.logout {
    flex: 1;
}
*/