.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: row; /* top to bottom */
    /* flex-direction: row; left to right */
    justify-content: flex-end; /* defines how the content of the element is positioned across the main axis */
    /* options: flex-start flex-end center space-around space-between space-evenly */  
}

.home {
    margin-right: auto;
}

.container > div {
    flex: 1;    
    /* flex-grow, flex-shrink, flex-basis )*/
}
/*
.container > .search {
    flex: 2;
} */
 /*
.home {
    flex: 1;
}
.logout {
    flex: 1;
}
*/